<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-row :gutter="20">
        <el-col :span="10">
            <el-form label-width="80px" :model="startRequestParam">
                <el-form-item label="项目地址">
                    <el-input v-model="startRequestParam.url"></el-input>
                </el-form-item>
                <el-form-item label="分支">
                    <el-input v-model="startRequestParam.branch"></el-input>
                </el-form-item>
                <el-form-item label="应用">
                    <el-input v-model="startRequestParam.project"></el-input>
                </el-form-item>
                <el-button type="primary" @click="deploy">发布</el-button>
            </el-form>
        </el-col>
        <el-col :span="10">
            <div v-html="log" id="logDiv" style=" overflow-y:auto; overflow-x:auto; height:600px;"></div>
        </el-col>
    </el-row>
    https://github.com/xiaomaolvsang/copyrightMall

</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    var doit = new Vue({
        el: "#app",
        data: {
            startRequestParam: {
                url: null,
                branch: null,
                project: null
            },
            logParam: {
                type: null,
                offset: null,
            },
            log: null,
            logTimer: null,
        },
        methods: {
            success(successMessage, duration) {
                if (successMessage) {
                    this.$message({
                        showClose: true,
                        message: successMessage,
                        type: 'success',
                        duration: duration || 3 * 1000
                    })
                }
            },
            fail(failMessage) {
                if (failMessage) {
                    this.$message({
                        showClose: true,
                        message: failMessage,
                        type: 'warning'
                    })
                }
            },
            deploy: function () {
                var that = this;
                axios.post('/deploy', this.startRequestParam)
                    .then(function c(response) {
                        if (response.data.code == 0) {
                            that.success(response.data.message);
                            console.log("启动定制器1");
                            that.startLog()
                        } else {
                            that.error(response.data.message);
                        }
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                        that.error(response.data.message);
                    });
            },
            rangeLog: function () {
                var that = this;
                axios.get('/log', {params: that.logParam})
                    .then(function c(response) {
                        that.log += response.data.data.data;
                        if (response.data.data.offset == undefined || response.data.data.offset < 0) {
                            that.logParam.offset = 0;
                        } else {
                            that.logParam.offset = response.data.data.offset;
                            var div = document.getElementById('logDiv');
                            console.log(div.scrollTop, div.scrollHeight);
                            div.scrollTop = div.scrollHeight;
                        }
                        if (response.data.data.over == true) {
                            clearInterval(that.timer);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            startLog: function () {
                console.log("启动定制器");
                this.logParam.offset = 0;
                this.logParam.type = "packageLog";
                this.logParam.project = this.startRequestParam.project;
                this.timer = setInterval(this.rangeLog, 3000);
            },
        },
    });
</script>
</html>